apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  creationTimestamp: null
  name: {{ .Values.web.name }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: public
  rules:
    - http:
        paths:
        - backend:
            service:
              name: {{ .Values.web.name }}
              port:
                number: 80
          path: /
          pathType: Prefix
status:
  loadBalancer: {}